if loginuser
    if loginuser.role == "admin"
        <div class="data-buttons">  
            <a href="/sessions" class="data-btn" id="delete-session"><i class="fa fa-trash"></i></a>
            <a href="/all-experts" class="data-btn" id="delete-expert"><i class="fa fa-trash"></i></a>
            <a href="/sessions" class="data-btn" id="update-session"><i class="fa fa-pencil"></i></a>
            <a href="/all-experts" class="data-btn" id="update-expert"><i class="fa fa-pencil"></i></a>
            <a href="/add-session" class="data-btn" id="add-session"><i class="fa fa-plus"></i></a>
            <a href="/add-expert" class="data-btn" id="add-expert"><i class="fa fa-plus"></i></a>
        </div>