extends main

block faq
    <section id="faq" class="wow fadeInUp">
      <div class="container">
        <div class="section-header">
          <h2>F.A.Q </h2>
        </div>
        <div class="row justify-content-center">
          <div class="col-lg-9">
            <ul id="faq-list">
                <li>
                    <a data-toggle="collapse" class="collapsed" href="#faq1">How can I consult to the expert of any category?
                    <i class="fa fa-minus-circle"></i></a>
                    <div id="faq1" class="collapse" data-parent="#faq-list">
                        <p>In order to consult to any of the expert from the above given categories you need to search for your favourite consultant and click on the "Consult Now" button to send him your query</p>
                    </div>
                </li>
                <li>
                    <a data-toggle="collapse" href="#faq2" class="collapsed">In how much time I will get response against my query? <i class="fa fa-minus-circle"></i></a>
                    <div id="faq2" class="collapse" data-parent="#faq-list">
                        <p>As soon as the expert gets your query notification he/she gives a response at the same very moment. Normally it takes 30 minutes at maximum</p>
                    </div>
                </li>
                <li>
                    <a data-toggle="collapse" href="#faq3" class="collapsed">How can I attend the session? <i class="fa fa-minus-circle"></i></a>
                    <div id="faq3" class="collapse" data-parent="#faq-list">
                        <p>If you want to attend any of the session which are mentioned above, you need to "Reserve Seat" in the top menu and fill out the requirements and click "Send". Thats All! . Soon you will get a confirmation Email regarding the booking details.</p>
                    </div>
                </li>
            </ul>
          </div>
        </div>
      </div>
    </section>