<footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-info">
            <a href=""><strong class="footer-company-title">E-Consultants</strong></a>
            p E-Consultants strappingly known and true in the principle of delivering, not just promising. With an immeasurable occurrence and fine appreciative market performance, we complete targets without any unnecessary costs.
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="fa fa-angle-right"></i> <a href="#">Home</a></li>
              <li><i class="fa fa-angle-right"></i> <a href="#">Services</a></li>
              <li><i class="fa fa-angle-right"></i> <a href="#">Affliate</a></li>
              <li><i class="fa fa-angle-right"></i> <a href="#">Terms of Use</a></li>
              <li><i class="fa fa-angle-right"></i> <a href="#">Privacy policy</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Follow us</h4>
            <ul>
              <li><i class="fa fa-facebook-official"></i> <a href="#">Facebook</a></li>
              <li><i class="fa fa-instagram"></i> <a href="#">Instagram</a></li>
              <li><i class="fa fa-youtube-play"></i> <a href="#">Youtube</a></li>
              <li><i class="fa fa-linkedin"></i> <a href="#">LinkedIn</a></li>
              <li><i class="fa fa-twitter"></i> <a href="#">Twitter</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-contact">
            <h4>Contact Us</h4>
            <p>43-A Paris Road <br> Sialkot , Punjab, Pakistan<br> 51310 <br>
              <strong>Phone:</strong> +92 340 1234567<br>
              <strong>Email:</strong> queries@e-consultants.com<br>
            </p>

            <div class="application-icons">
              img(src="/img/footer-playstore-icon.png", alt="Download Application" class="playstore")
              img(src="/img/footer-appstore-icon.png", alt="Download Application" class="appstore")
            </div>

          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">&copy; Copyright <strong>E-Consultants</strong>. All Rights Reserved</div>
      <div class="credits">Designed by <a href="/">Web Project Fellows</a></div>
    </div>
</footer>

<a href="#" class="back-to-top"><i class="fa fa-angle-up"></i></a>