doctype html
html
  head
    include ./partials/imports

  body
    include ./components/header
    include ./components/intro
    include ./components/latest-event
    include ./components/experts
    include ./components/schedule
    include ./components/gallery
    include ./components/sponsors
    include ./components/faq
    include ./components/subscribe
    include ./components/data-buttons
    include ./components/footer
