extends sample-page

block content
    <section id="reserve-seat" class="section-bg wow fadeInUp">

        <div class="container">

            <div class="section-header">
                <br><br><br><br><br>
                <h2>Login</h2>
                <p>Logon to the system to avail more properties</p>
            </div>

            <div class="form">

                <form method="post" role="form">
                  
                    <div class="form-group col-md-4 offset-md-4">
                        <input type="email" class="form-control" name="email" id="email" placeholder="Email" required/>
                    </div>
                    <div class="form-group col-md-4 offset-md-4">
                        <input type="password" name="password" class="form-control" id="password" placeholder="Password" required/>
                    </div>
                    
                    <div class="text-center">
                        <button type="submit" class="my-btn">Login</button>
                    </div>
                </form>
            </div>
        </div>
    </section>